@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:"Roboto", sans-serif;
}
.hero_bg {
  background-color: black;
  height: 256px;
}
.playfair_font {
  font-family: "Playfair Display", "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  color: #fff;
}
.pink_bg {
  background-image: url('./assets/pink-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 408px;
}
.text_bg {
  background-color: #BE6FCD;
  height: 94px;
  width: 100%;
}
select {
  border: 1px solid #ccc;
  padding: 6px 12px;
  line-height: 1.42857143;
}
select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
}

.bg-container {
  background: linear-gradient(180deg, #1A1A1A -65%, rgba(26, 26, 26, 0) 35%), #FFECBB;
}